body {
    font-family: 'Anton', sans-serif;
}

h1 {
    font-size: 50px;
}

.akli {
    color: chartreuse;
}

section {
    display: flex;
    margin-bottom: 100px;
}

.half-width {
    width: 50%;
    padding-right: 5%;
    padding-left: 5%;
}

.half-width img {
    width: 60%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 7px 20px;
    border-radius: 13px;
    color: aliceblue;
    font-weight: 500;
}

.top-benner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    padding: 0%;
}

.driem-big {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}